.btn {
  padding: 0 1rem;
  font-weight: 600;
  font-size: .75rem;
  line-height: 100%;
  outline: transparent;
  box-shadow: transparent;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .375rem;
  flex-shrink: 0;
  border-radius: .375rem;
  border: 1px solid transparent;
  text-transform: uppercase;
  cursor: pointer;
  background: #157edb;
  color: #FFF;

  &.secondary {
    background-color: #FFF;
    color: #000;
  }
}
