//colors
$primary: #635fc7;
$purpleLigth: #A8A4FF;
$black: #000112;
$gray-10: #20212C;
$gray-20: #2B2C37;
$gray-30: #3E3F4E;
$gray-40: #828FA3;
$gray-50: #E4EBFA;
$gray-60: #F4F7FD;
$white: #FFF;
$red: #EA5555;
$redLigth: #FF9898;

//Widths
$sidebar-width: 300px;
$content-height: 97px;